<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../static/form.css" >
</head>
<body>
    <h1 class="center">This is my form page</h1>
    <form>
        <label for="name">Name: </label>
        <input required id="name" style="width: 200px">
        <br>
        <label for="email">Email: </label>
        <input required id="email" style="width: 200px">
        <br>
        <label for="male">Male: </label>
        <input type="radio" id="male" name="gender">
        <label for="female">Female: </label>
        <input type="radio" id="female", name="gender">
        <br>
        <label for="birthdate">Birthdate: </label>
        <input type="date" id="birthdate" style="width: 200px;">
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>