<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>About myself</h1>
    <p>My name is Tony</p>
    <p>I like coding</p>
</body>
</html>

<!-- Tạo 1 project Django có 1 app tên main với 2 chức năng:
•/ hiển thị trang chủ: giới thiệu môn học
•/about/ hiển thị trang giới thiệu: giới thiệu bản thân mình
Yêu cầu:
•dùng views.pyis in
•dùng urls.py
•dùng render()
•tạo 2 file HTML: home.html, about.html
•nối URL của app vào project bằng include() -->